@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;900&display=swap");
* {
  padding: 0;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
}

.name-wrapper {
  display: inline-block;
}

.studio {
  display: inline-block;
  margin-left: 1px;
  color: rgba(255, 255, 255, 0.437);
}
.navigate {
  background-color: rgb(1, 2, 16);
  border: 1px solid rgba(255, 255, 255, 0.197);
  padding: 10px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-wrapper {
  display: inline-block;
  text-align: center;
}

.ally {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.studio {
  display: inline-block;
  margin-left: 1px;
  color: rgba(255, 255, 255, 0.437);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  color: white;
}

li {
  display: inline-block;
  margin-left: 10px;
}

.style-botom {
  padding: 10px;
  background-color: #c32456;
  border-radius: 20px;
}
.banner-wrapper {
  position: relative;
}
.img-banner {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
  text-align: left;
  width: 80%;
  line-height: 150%;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
}
.person-info {
  position: relative;
}

.people-photo {
  width: 100%;
  height: auto;
}

.info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  color: white;
}
.title-projects {
  margin-left: 25%;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  margin-left: auto;
  margin-right: auto;
  gap: 1%;
  max-width: 50%;
}

.container-two {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  margin-left: auto;
  margin-right: auto;
  gap: 1%;
  max-width: 50%;
  object-fit: cover;
}

.container .one::before,
.container .three::before,
.container-two .two::before,
.container-two .four::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container .one,
.container .three,
.container-two .two,
.container-two .four {
  position: relative;
}

.website,
.title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 20px;
  z-index: 2;
}

.title {
  bottom: 50px;
}
.website-people {
  font-size: 15px;
}
.projects-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  font-size: 150%;
  line-height: 150%;
}
.direction {
  font-size: 45%;
  font-weight: lighter;
}
.photo-map {
  width: 30%;
}
.title-contact {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
footer {
  background-color: rgb(1, 2, 16);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.197);
  text-align: center;
}
