* {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-banner {
  max-width: 100%;
}
.name-wrapper {
  display: inline-block;
}

.ally {
  display: inline-block;
  white-space: nowrap;
  color: white;
  margin-left: 10%;
}
.studio {
  display: inline-block;
  margin-left: 1px;
  color: rgba(255, 255, 255, 0.437);
}
.navigate {
  background-color: rgb(1, 2, 16);
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  justify-content: end;
  gap: 2%;
  margin: 1%;
  margin-top: -1%;
}
nav ul li {
  list-style: none;
  color: white;
}
.style-botom {
  padding: 10px;
  margin-top: -1%;
  background-color: #c32456;
  border-radius: 20px;
  display: inline-block;
}
.banner-wrapper {
  position: relative;
}
.img-banner {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 350%;
  text-align: left;
  width: 80%;
  line-height: 150%;
}
.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  text-align: center;
}
.person-info {
  position: relative;
}

.people-photo {
  width: 100%;
  height: auto;
}

.info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
}

.website,
.title-rostov {
  margin: 0;
  padding: 5px;
}
.people-photo {
  max-width: 100%;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
}
.projects-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
}
.projects .one {
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}
.projects .two {
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}
.projects .three {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}
.projects .four {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}

.projects .projects-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-two .projects-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.photo-map {
  width: 30%;
}
.container-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgb(1, 2, 16);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
